@tailwind base;
@tailwind components;
@tailwind utilities;

li {
  list-style: none;
}
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.myclip-path {
  clip-path: polygon(0 0, 100% 0, 100% 80%,0 100%);
}
